@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@500&display=swap');

.h1Trun{
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: -2px;
    font-family: "Rubik", sans-serif;
}

.blockSize{
    height:300px;
    width:100%;
}
.swiperH{
    position: relative;
}
.swiperH::before{
    content:'';
    position:absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 8rem;
    background: linear-gradient(90deg, transparent 0%, #FCDDB8 81%);
    z-index: 5;
}
.swiperH::after{
    content:'';
    position:absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width:8rem;
    background: linear-gradient(270deg, transparent 0%, #FCDDB8 81%);
    /* background: red; */
    z-index: 5;
}

.headerBlock{
    transition: all;
    animation: moveHeaderBlock 3s;
    -webkit-animation: moveHeaderBlock 3s;
}

@keyframes moveHeaderBlock {
    40%{
        transform:translateY(0);
        -webkit-transform:translateY(0);
        -moz-transform:translateY(0);
        -ms-transform:translateY(0);
        -o-transform:translateY(0);
       
    }
    0%{
        transform:translateY(-4rem) ;
        -webkit-transform:translateY(-4rem) ;
        -moz-transform:translateY(-4rem) ;
        -ms-transform:translateY(-4rem) ;
        -o-transform:translateY(-4rem) ;
}
}

.cvHover:hover span{
    letter-spacing:2px;
}

.skillBefore::before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: -50%;
    height: 100%;
    z-index: -20;
    background: #FCDDB8;   
}

.diagonal{
    padding: 1rem 0;
    /* height: 500px; */
    transform-origin: right;
    transform:skewy(-3deg);
    -webkit-transform:skewy(-3deg);
    -moz-transform:skewy(-3deg);
    -ms-transform:skewy(-3deg);
    -o-transform:skewy(-3deg);
    background-color: rgb(40 40 40);
    
}

.area{
    min-height: 10rem;
    max-height:10rem;
}


@media (max-width:500px){
    .diagonal{
        height: 140vh;
    }
}
@media (max-width:550px){
    .swiperH::before,
    .swiperH::after{
        width:0;
    }
}