@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@500&display=swap');

.h1Trun{
    /* text-overflow: ellipsis; */
    white-space: nowrap;
    margin-left: -2px;
    font-family: "Rubik", sans-serif;
    position: relative;
}
/* .h1Trun::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 114%;
    z-index: 1;
    background: #FCDDB8;
    animation: h1EffectBackG 6s infinite;
    -webkit-animation: h1EffectBackG 6s infinite;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}
@keyframes h1EffectBackG {
    0%, 12%, 95%, 100%{ 
        opacity: 0;
    }
    20%, 95%{
        opacity: 1;
    }
}
@keyframes h1EffectBlack {
    0%,20%, 100%{
        opacity: 0;
        
    }
    45%, 95%{
        opacity: 1;
    }

}
.h1Trun::after{
    content: 'Mauro Vigliero';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    animation: h1EffectBlack 6s infinite;
    -webkit-animation: h1EffectBlack 6s infinite;
    color: rgb(46, 46, 46);
     font-family: 'Times New Roman', Times, serif; 
}
    */

.blockSize{
    height:300px;
    width:100%;
}
.swiperH{
    position: relative;
}
.swiperH::before{
    content:'';
    position:absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 8rem;
    background: linear-gradient(90deg, transparent 0%, #FCDDB8 81%);
    z-index: 5;
}
.swiperH::after{
    content:'';
    position:absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width:8rem;
    background: linear-gradient(270deg, transparent 0%, #FCDDB8 81%);
    /* background: red; */
    z-index: 5;
}

.headerBlock{
    transition: all;
    animation: moveHeaderBlock 5s;
    -webkit-animation: moveHeaderBlock 5s;
}

@keyframes moveHeaderBlock {
    40%{
        transform:translateY(0);
        -webkit-transform:translateY(0);
        -moz-transform:translateY(0);
        -ms-transform:translateY(0);
        -o-transform:translateY(0);
       
    }
    0%{
        transform:translateY(-1rem) ;
        -webkit-transform:translateY(-1rem) ;
        -moz-transform:translateY(-1rem) ;
        -ms-transform:translateY(-1rem) ;
        -o-transform:translateY(-1rem) ;
}
}

.cvHover:hover span{
    letter-spacing:2px;
}

.skillBefore::before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: -50%;
    height: 100%;
    z-index: -20;
    background: #FCDDB8;   
}

.diagonal{
    padding: 1rem 0;
    /* height: 500px; */
    transform-origin: right;
    transform:skewy(-3deg);
    -webkit-transform:skewy(-3deg);
    -moz-transform:skewy(-3deg);
    -ms-transform:skewy(-3deg);
    -o-transform:skewy(-3deg);
    background-color: rgb(40 40 40);
    
}

.area{
    min-height: 10rem;
    max-height:10rem;
}


@media (max-width:500px){
    .diagonal{
        height: 140vh;
    }
}
@media (max-width:550px){
    .swiperH::before,
    .swiperH::after{
        width:0;
    }
}