@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
    width: 6px;    
    background: rgb(36, 31, 31);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(238 189 130);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:active {
    background-color: rgb(252 221 184);
}